<div class="form-group col-auto mx-auto">
  <label for="exercise" style="text-align: center; font-family: Arial; font-size: 30px;">Exercise:</label>
  <input type="text" id="exercise" name="exercise" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="sets" style="text-align: center; font-family: Arial; font-size: 30px;">Sets:</label>
  <input type="number" id="sets" name="sets" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="reps" style="text-align: center; font-family: Arial; font-size: 30px;">Reps:</label>
  <input type="number" id="reps" name="reps" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="weight" style="text-align: center; font-family: Arial; font-size: 30px;">Weight:</label>
  <input type="number" id="weight" name="weight" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="rpe" style="text-align: center; font-family: Arial; font-size: 30px;">RPE:</label>
  <input type="number" id="rpe" name="rpe" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="bodyWeight" style="text-align: center; font-family: Arial; font-size: 30px;">Body Weight:</label>
  <input type="number" id="bodyWeight" name="bodyWeight" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="comments" style="text-align: center; font-family: Arial; font-size: 30px;">Comments:</label>
  <textarea id="comments" name="comments" rows="4" cols="50" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;"></textarea>
</div>
<button type="button" onclick=logExercise() class="btn btn-primary mx-auto">Log Exercise</button>

<script src="../public/js/newworkout.js"></script>
