  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Exercise Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newworkout">New Workout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<div class="form-group col-auto mx-auto">
  <label for="exercise" style="text-align: center; font-family: Arial; font-size: 30px;">Exercise:</label>
  <input type="text" id="exercise" name="exercise" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="sets" style="text-align: center; font-family: Arial; font-size: 30px;">Sets:</label>
  <input type="number" id="sets" name="sets" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="reps" style="text-align: center; font-family: Arial; font-size: 30px;">Reps:</label>
  <input type="number" id="reps" name="reps" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="weight" style="text-align: center; font-family: Arial; font-size: 30px;">Weight:</label>
  <input type="number" id="weight" name="weight" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="rpe" style="text-align: center; font-family: Arial; font-size: 30px;">RPE:</label>
  <input type="number" id="rpe" name="rpe" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="bodyWeight" style="text-align: center; font-family: Arial; font-size: 30px;">Body Weight:</label>
  <input type="number" id="bodyWeight" name="bodyWeight" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;">
</div>
<div class="form-group col-auto mx-auto">
  <label for="comments" style="text-align: center; font-family: Arial; font-size: 30px;">Comments:</label>
  <textarea id="comments" name="comments" rows="4" cols="50" class="form-control mx-auto" style="width: 50%; text-align: center; font-family: Arial; font-size: 20px;"></textarea>
</div>
<button type="button" class="btn btn-primary mx-auto logExercise">Log Exercise</button>

<script src="/js/newworkout.js"></script>
