const exercises = require('../models/Exercise.js');

<div class="form-group">
  <label for="exercise">Exercise:</label>
  <select id="exercise" name="exercise" class="form-control">
    {{#each exercises}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
</div>
<div class="form-group">
  <label for="sets">Sets:</label>
  <input type="number" id="sets" name="sets" class="form-control">
</div>
<div class="form-group">
  <label for="reps">Reps:</label>
  <input type="number" id="reps" name="reps" class="form-control">
</div>
<div class="form-group">
  <label for="weight">Weight:</label>
  <input type="number" id="weight" name="weight" class="form-control">
</div>
<div class="form-group">
  <label for="rpe">RPE:</label>
  <input type="number" id="rpe" name="rpe" class="form-control">
</div>
<div class="form-group">
  <label for="bodyWeight">Body Weight:</label>
  <input type="number" id="bodyWeight" name="bodyWeight" class="form-control">
</div>
<div class="form-group">
  <label for="comments">Comments:</label>
  <textarea id="comments" name="comments" rows="4" cols="50" class="form-control"></textarea>
</div>
<button type="button" onclick="logExercise()" class="btn btn-primary">Log Exercise</button>