body {
  background-color: #8a8484;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

input[type="number"],
textarea,
select {
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #444;
  color: #fff;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}