body{
    padding:0;
    margin:0;
  }
  .box{
    position:absolute;
    height:100%;
    width:100%;
    font-family:Helvetica;
    color:#fff;
    background:rgba(0,0,0,0.13);
    padding:30px 0px;
  }
  .box h1{
    text-align:center;
    margin:30px 0;
    font-size:30px;
  }
  .box input{
    display:block;
    border-radius: 6px;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(163, 163, 163, 0.2);
    color:#fff;
    border:0;
    transition: ease 0.2s, background 0.2s, color 0.2s;
  }

  .box input:hover{
    background: #bb89cf;
    color: white;
  }
  .box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
  }
  button{
    background:darkgray;
    box-shadow: 0 0 0 black;
    border:0;
    border-radius: 3px;
    color:black;
    padding:10px;
    font-size:20px;
    width:330px;
    margin:20px auto;
    display:block;
    cursor:pointer;
    transition: ease 0.2s, background-color 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
  }


  button:hover{
    transform: translate(-3px, -3px);
    background-color: #9B59B6;
    box-shadow: 5px 5px 0 black;
    border: 1px solid black;
    color: white;
  }
  .box p{
    font-size:14px;
    text-align:center;
    font-weight: bold;
  }
  .box p span{
    cursor:pointer;
    color:#666;
    transition: ease 0.2s, color 0.2s;
  }
  .box p span:hover{
    color: #bb89cf;
  }